<!--The content below is only a placeholder and can be replaced.-->

<div>
  <h3>Module inside Component.</h3>
</div>
<div class="container">
  <div class="row">
    <h1>Vehical</h1>
    <app-car></app-car>
    <app-bike></app-bike>
    <app-bicycle></app-bicycle>
  </div><br /><br /><br />
</div>
<div>
  <h3>Module inside module.</h3>
  <app-child></app-child>
</div><br /><br />
<div>
  <h3>Component inside component.</h3>
  <app-upper></app-upper>
  <app-lower></app-lower>
</div>
<div>
    <h3>Module inside component.</h3>
    <app-third></app-third>
</div>